@import url('https://fonts.googleapis.com/css?family=Merriweather:wght@900&family=Nunito:wght@400;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Fascinate&family=Permanent+Marker&family=Rubik+Moonrocks&display=swap&text=shuffle'); */
:root {
  --theme: hsl(179, 19%, 44%);
  --theme-light: hsl(179, 19%, 81%);
  --theme-medium: hsl(179, 19%, 55%);
  --theme-dark: hsl(179, 19%, 21%);
  --complement: hsl(359, 19%, 51%);
  --complement-light: hsl(359, 14%, 97%);
  --complement-medium: hsl(359, 14%, 67%);
  --transition-timing-natural: cubic-bezier(0.280, 0.840, 0.420, 1);
  --shadow-color: 0deg 4% 65%;
  --shadow-elevation-medium:
    0.2px 0.7px 0.9px hsl(var(--shadow-color) / 0.22),
    0.5px 1.8px 2.2px -0.5px hsl(var(--shadow-color) / 0.23),
    1px 3.5px 4.3px -1.1px hsl(var(--shadow-color) / 0.24),
    1.9px 6.8px 8.3px -1.6px hsl(var(--shadow-color) / 0.26),
    3.6px 12.9px 15.7px -2.2px hsl(var(--shadow-color) / 0.27);
  --ink: #1e1e1e;
  --filename-bg: hsl(179, 6%, 88%);
  --button-blend-mode: darken;
  --tbl-border: #bbb;
  --tbl-header-bg: #eaeaea;
  --note-bg: hsl(51, 78%, 88%);
  --note-border: hsl(51, 78%, 62%);
  --widget-bg: white;
  --link: hsl(225, 73%, 57%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-light: hsl(179, 19%, 18%);
     --theme-dark: hsl(179, 24%, 71%);
     --theme: hsl(179, 19%, 49%);
     --complement-light: hsl(359, 14%, 9%);
     --ink: hsl(44, 28%, 82%);
     --filename-bg: hsl(179, 6%, 12%);
     --button-blend-mode: lighten;
     --tbl-border: #333;
     --tbl-header-bg: #1a1a1a;
     --note-bg: hsl(51, 58%, 8%);
     --note-border: hsl(51, 58%, 22%);
     --widget-bg: black;
       --shadow-color: 0deg 4% 5%;
       --link: hsl(225, 53%, 67%);
  }
}

html {
  background-color: var(--complement-light);
}

pre+svg {
  margin-top: -1.5rem;
}

.file-name {
  padding: .125rem .25rem;
  border-radius: .425rem;
  background: var(--filename-bg);
}

body {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 1.25rem;
  box-sizing: border-box;
  color: var(--ink);
  fill: var(--ink);
}

*,
::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-size: 2rem;
  font-family: 'Merriweather', sans-serif;
  line-height: 140%;
  color: var(--theme-dark);
  margin: .75rem 0;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

ol {
  margin-left: 0;
  padding-left: 1.25rem;
}

p,
li {
  font-size: 1.25rem;
  // max-width: 600px;
  margin: .75rem 0;
  line-height: 150%;
}


header,
footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
  position: relative;
  background: var(--theme-light);
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 1rem;
  text-align: left;
}



header>svg {
  margin: 3rem 0 0;
  width: 100%;
  max-width: 44rem;
}

header a>svg {
  position: absolute;
  width: 2rem;
  height: 2rem;
  opacity: .5;
  right: 1rem;
  top: 1rem;
}


.hero-lede {
  opacity: .75;
  color: var(--theme-dark);
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
  max-width: none
}

.note {
  background: var(--note-bg);
  padding: .5rem 1rem;
  border-radius: .425rem;
  margin: 2rem 0;
  border: .125rem solid var(--note-border);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.25rem;
  gap: 1.25rem;
}

.box>div {
  width: 100%;
}

.content-layout {
  display: flex;
  grid-template-columns: minmax(0, 1fr) 280px;
  gap: 4rem;
  justify-content: center;
  width: 100%;
  padding: 1rem 1.25rem;

  .box {
    padding: 1rem 0;
  }
}

.content-column {
  min-width: 0;
  width: 100%;
  max-width: 44rem;
}

#toc {
  position: sticky;
  top: 2rem;
  align-self: flex-start;
  min-width: 0;
  max-width: 320px;
}

.toc-heading {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 .325rem;
  color: var(--theme-dark);
  opacity: .66;
}

.toc-group {
  margin: 0 0 .325rem;
}

.toc-group-title {
  font-size: 1rem;
  font-weight: 400;
  opacity: .75;
  margin: 0;
  color: var(--ink);
}

.toc-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 .5rem;
  display: flex;
  flex-direction: column;

  >li {
    margin: 0;
    padding: 0;
  }
}

.toc-link {
  font-size: 1.075rem;
  line-height: 125%;
  color: var(--theme);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 150ms ease;

}

.toc-link:hover,
.toc-link:focus-visible {
  text-decoration-color: var(--theme);
}

.toc-placeholder,
.toc-empty {
  font-size: 0.95rem;
  color: var(--theme-medium);
  margin: 0;
}

@media (max-width: 1024px) {

  #toc {
    display: none;
  }
}

.widget {
  width: 280px;
  height: 360px;
  overflow-y: scroll;
  background: var(--widget-bg);
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 1rem;
  position: relative;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;

  &#widget_example_2 {
    overflow-y: hidden;
    width: 320px;
    height: 260px;

    >.content {
      flex: 1;
      display: flex;
      width: calc(320px * 4);
      padding: 0;
      transition: all .5s ease;

      >div {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
      }
    }
  }
}

.widget.horizontal {
  width: 100%;
  height: 240px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: auto;
}

.widget .image-wrapper {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1655826525700-71fa9e171d72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2864&q=80');
  background-size: cover;
  background-position: center;
}

.widget .header {
  position: sticky;
  top: 0;

  dynamo-wave {
    display: flex;
    margin-top: -2px;
  }
}

.widget .footer {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  dynamo-wave {
    display: flex;
    margin-bottom: -2px;
    height: 3rem;
    width: 100%;
  }

  button {
    background-color: var(--complement-light);

    &:after {
      display: none;
    }
  }
}

.header h2 {
  padding: 1rem 1rem 0;
  margin: 0;
  font-size: 1.325rem;
  background: var(--theme);
  color: white;
}


.footer .content {
  padding: .125rem 1rem 1rem;
  margin: 0;
  background: var(--theme-light);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: .125rem 1rem 2rem;
}

.content a,
.link {
  color: 	var(--link);
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  gap: .125rem;

  &[rel="external"]::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='24'  height='24'  viewBox='0 0 24 24'  fill='none'  stroke='RoyalBlue'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'/><path d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /><path d='M11 13l9 -9' /><path d='M15 4h5v5' /></svg>");
    display: inline-flex;
    height: 24px;
    width: 24px;
  }
}

button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--theme-dark);
  height: 3.5rem;
  border-radius: .425rem;
  border: .125rem solid var(--theme);
  padding: .5rem 1.5rem;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  align-items: center;
  appearance: none;
  display: inline-flex;
  font-family: "Nunito", sans-serif;
  transition: color .325s var(--transition-timing-natural);
  transition-delay: .175s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: manipulation;
  position: relative;
  gap: .325rem;

  &[disabled] {
    opacity: .5;
  }
}

button::after {
  content: "";
  background-color: var(--theme-light);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
  border-radius: calc(.425rem - 2px);
  top: 0;
  left: 0;
  transform: translate3d(.325rem, .325rem, 0) scale3d(1.025, 1.125, 1);
  transform-origin: top left;
  transition: opacity .325s var(--transition-timing-natural), transform .325s var(--transition-timing-natural);
  z-index: 1;
  mix-blend-mode: var(--button-blend-mode);
}

button>svg {
  height: 1.5rem;
  width: 1.5rem;
  transition: transform .325s var(--transition-timing-natural);
  transform: rotate(0deg);
}


@media (hover: hover) and (pointer: fine) {
  button:hover::after {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    opacity: .325;
  }
}


button:active {
  >svg.refresh {
    transform: rotate(240deg);
  }

  &::after {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    opacity: .5;
  }
}

code {
  font-size: 1.25rem;
}

strong code {
  background: var(--theme-light);
  padding: 0.125rem .25rem;
  border-radius: 0.425rem;
}

.wave-wrapper {
  z-index: -1;
  width: 100%;
  transition: all .325s ease;
  transform-origin: top;
  transform: translate3d(0, -100%, 0);
}

.wave-wrapper.reveal {
  transform: translate3d(0, 0, 0);
}

pre {
  white-space: pre-line;
  margin: 1.25rem 0;
  width: calc(100% + 2.5rem);
  margin-left: -1.25rem;
}

pre code.hljs {
  padding: 2rem 1.75em;
  border-radius: 0;
}

.list-indicator {
  color: var(--theme-dark);
  opacity: .75;
}

.fill-theme {
  fill: var(--theme);
}

.fill-theme.fill-light {
  fill: var(--theme-light);
}

#special_wave {
  height: 3rem;
  width: 80%;
  transform: translateX(10%);
}

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: calc(100% + 2.5rem);
  margin-left: -1.25rem;
}

table {

  border-collapse: collapse;
  // width:100%;

  font-family: monospace;
  margin-top: 1rem;

}


th,
td {

  border: .125rem solid var(--tbl-border);

  padding: .725rem;

  text-align: left;

  p {
    min-width: max-content;
  }

}



th {

  background-color: var(--tbl-header-bg);

  font-weight: bold;

}

dynamo-wave,
dynamo-wave svg {
  display: inline-block;
  width: 100%;
}

dynamo-wave+p {
  margin-top: 3rem;
}

tr:nth-child(even) {

  background-color: var(--tbl-header-bg);

}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
  position: relative;
  color: var(--theme-dark);
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }

  12% {
    box-shadow: 100px 0 var(--theme-dark), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }

  25% {
    box-shadow: 110px 0 var(--theme-dark), 100px 0 var(--theme-dark), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }

  36% {
    box-shadow: 120px 0 var(--theme-dark), 110px 0 var(--theme-dark), 100px 0 var(--theme-dark), 0px 0 rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 130px 0 var(--theme-dark), 120px 0 var(--theme-dark), 110px 0 var(--theme-dark), 100px 0 var(--theme-dark);
  }

  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--theme-dark), 120px 0 var(--theme-dark), 110px 0 var(--theme-dark);
  }

  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--theme-dark), 120px 0 var(--theme-dark);
  }

  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--theme-dark);
  }

  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}

#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  transition: max-height .725s ease-out;
  max-height: 100vh;

  &.hide {
    max-height: 0px;

    >* {
      opacity: 0;
    }
  }

  >* {
    margin-top: 4rem;
    transition: opacity .225s ease;
  }
}

@media screen and (min-width: 39.999rem) {
  footer {
    justify-content: space-between;
  }

  .widget.horizontal {
    max-width: 460px;


  }

  .table-container {
    width: 100%;
    margin-left: 0;
    overflow: visible;

    table {
      width: 100%;
    }
  }

  pre code.hljs {
    border-radius: .425rem;
  }

}